*{
    margin: 0;
    padding: 0;
    list-style-type:none;
}

.main{
    display: flex;
    flex-direction: column;
    
}

.content{
    width: 80%;
    align-self: center;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 100%;
    margin-right: 20px;
}


/* ABOUT SECTION  */


 .outter-about{
    height:500px;
    display:flex;
    justify-content: center;
    align-items: center;
} 

.about{
    margin-top: 20%;
    margin-bottom: 10%;
    display: flex;
    width: 66.6%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
}

.photo{
    width: 225px;
    height: 66.6%;
    margin-left: 5%;
}


.info{
    width: 45%;
    margin-right: 5%;
    margin-left:5%
}
.info h1{
    margin-bottom: 20px;
}

.about-info li{
    margin-top: 15px;
}




/* Projects Section */

.project-section{
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 10%;
    height: 300px;
    width: 33.33%;
    margin-left: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.project-info p{
    margin-top: 5px;
}

/* Contact Info */

.contact-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    height: 100px;
}
.contact-info {
    width: 20px;
    margin-left: 10px;
}

